{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block page %}
  <a href="{% url 'blog-about' %}">About</a>
  <a href="{% url 'blog-home' %}">Home</a>
{% endblock page %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset >
            <legend>Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Login</button>
            <small>
                <a href="{% url 'password_reset' %}">Forgot password</a>
            </small>
        </div>
        
    </form>
    <div>
        <small>
            Need an account? <a href="{% url 'register' %}">Sign In</a>
        </small>
    </div>
{% endblock content %}