{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block page %}
  <a href="{% url 'blog-about' %}">About</a>
  <a href="{% url 'blog-home' %}">Home</a>
{% endblock page %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset >
            <legend>
                Sign up
            </legend>
            {{ form|crispy }}
            <div>
                <button type="submit">Sign Up</button>
            </div>
            
        </fieldset>
    </form>
    <div>
        <small>
            Already have an account? <a href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
{% endblock content %}